<h1>Editing IMonggo C3 <code>GET</code> request</h1>

<%= render "form", im_get_request: @im_get_request %>

<br>

<div>
  <%= link_to "Show this im get request", @im_get_request %> |
  <%= link_to "Back to im get requests", im_get_requests_path %>
</div>
